# GIT ignore file for Managed Mini Shell extension Framework

[Dd]ebug/
[Rr]elease/
[Cc]hecked/
*.opensdf
*.sdf

# Ignore files created by Visual Studio
*.suo
*.user
*.VC.db

# Visual Studio cache/options directory
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config